<!-- Header include -->
<% include header %>
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div class="container">
        <div class="col-sm-4">
            
        </div>
    </div>
</body>
</html>
<!-- Footer include -->
<% include footer %>