<!-- Header incude -->
<% include header%>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./Css/feedback.css">
</head>
<body>
    <form action="" method="">
        <div class="container" id="feedback">
            <h1>Feedback</h1><hr>
            <div class="form-group">
                <label for="mobile">Mobile NO</label>
                    <input type="text" name="mobile" id= "mobile" class="form-control" placeholder="Mobile NO">
            </div>
            <div class="form-group">
                <label for="Feedback">Feedback Message</label>
                    <textarea name="" id="" class="form-control" style="resize: none" rows="8" placeholder="Type here."></textarea>      
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">SEND</button>
            </div>
        </div>
    </form>
</body>
<!-- Footer include -->
<% include footer %>
</html>