<html>
    <head>
        <link rel="stylesheet" href="./Css/footer.css">
    </head>
    <body>
        <footer>
            <div class="container">
                <ul class="col-sm-4" id="aboutus">
                    <h1>About US</h1><hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor aspernatur 
                        consectetur ad labore rerum a nesciunt. Consequuntur alias nulla id quisquam 
                        libero odio facere a, sed nisi inventore voluptatem harum!
                    </p>
                    <li><a href="#" class="fa fa-facebook" title="facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter" title="twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram" title="Instagram"></a></li>
                    <li><a href="#" class="fa fa-pinterest" title="Pinterest"></a></li>
                </ul>
                <ul class="col-sm-4">
                    <h1>Contact US</h1><hr>
                    <li class="fa fa-map-marker"><a href="#" >Noida sec-15</a></li><br><br>
                    <li class="fa fa-phone"><a href="#" >1234567890</a></li><br><br>
                    <li class="fa fa-envelope"><a href="#">support@company.com</a></li>
                </ul>
                <ul class="col-sm-4" id="Mobile-app">
                    <h1>Restaurants in your pocket </h1>
                    <p>Order from your favorite restaurants & track on the go, with the all-new Pitaara app.</p>
                    <li><a href="https://play.google.com/store/apps/details?id=com.sonu.resdemo" target="blank"><img src="./Image/Google_Play.svg"></a></li>
                </ul>
                <p id="reserved">@ 2019 All right reserved</p>
            </div>
        </footer>
    </body>
</html>