<% include ../index %>
<html>
<head>
    <link rel="stylesheet" href="./Css/header.css"> 
    <script src="./javascript/index.js"></script>
</head>
    <body>
        <header>
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="fa fa-bars" id='bars' data-target="#collapse" data-toggle="collapse"></span>
                        </button>
                            <a href="/home"><img src="./logo/home-icon.png" id="icon" alt="Icon"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/menu">Menu</a></li>
                            <li><a href="/order">My Order</a></li>
                            <li><a href="#">Refer A Friends</a></li>
                            <li><a href="/feedback">Send feedback</a></li>
                            <li><a href="#">Rate US</a></li>
                            <li><a href="#">Coupon</a></li>
                            <li><a href="/find">Find Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>