<!-- Include Header -->
<% include header%>
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="./Css/menu.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <!-- <li><h2 class="text-left">Menu</h2></li> -->
                <li><a href="/menu">Bestsellers</a></li>
                <li><a href="/thali">Thali</a></li>
                <li><a href="/soups">Soups</a></li>
                <li><a href="/bread">Breads</a></li>
                <li><a href="#">Quick bites</a></li>
                <li><a href="#">North Indian</a></li>
                <li><a href="/southIndia">South Indian</a></li>
                <li><a href="/punjabi">Punjabi Dishes</a></li>
                <li><a href="/chinese">Chinese Dishes</a></li>
                <li><a href="#">Rice and biryani</a></li>                
                <li><a href="/noodles">Fried rice and noodles</a></li>
                <li><a href="#">Desserts and beverages</a></li>
            </ul>
        </aside>
        <section class="dish">
            <div class="col-sm-4 Food">
                <ul>
                    <li>
                        <img src="./Image/thali.jpg" alt="Special thali" class="Image-Food">
                    </li>
                    <li class="veg">
                        <img src="./logo/images.jpeg" alt="veg"> Special thali
                        <p style="margin-top: 10px;"> In which soup are made by all green vegetable.</p>
                        <p class="fa fa-rupee"> 60 <a href="#" class="btn btn-default btn-sm">Add</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 Food">
                <ul>
                    <li>
                        <img src="./Image/tomato.jpg" alt="John Mathew" class="Image-Food">
                    </li>
                    <li class="veg">
                        <img src="./logo/images.jpeg" alt="veg"> John Mathew
                        <p style="margin-top: 10px;"> Delux thali.</p>
                        <p class="fa fa-rupee"> 100 <a href="#" class="btn btn-default btn-sm">Add</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 Food">
                <ul>
                    <li>
                        <img src="./Image/rice.jpg" alt="Nick jason" class="Image-Food">
                    </li>
                    <li class="veg">
                        <img src="./logo/images.jpeg" alt="veg"> Nick jason
                        <p style="margin-top: 10px;">This is very good rice soup. This is good for health. </p>
                        <p class="fa fa-rupee"> 100 <a href="#" class="btn btn-default btn-sm">Add</a></p>
                    </li>
                </ul>
            </div>
        </section>
    </div><br>
</body>
</html> 