/* Feedback css */
#feedback{
    margin-top: 5%;
    width: 45%; 
}
hr {
    width: 30%;
    border: 1px solid;
}
#feedback label{
    font-size: 17px;
    font-family: none;
}
#feedback h1 {
    text-align: center;
    font-family: cursive;
}

/* Media query */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    #feedback{
        width: 100%;
        margin-top: 17%;
    }
    hr {
        width: 100%;
        border: 1px solid #ccc;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
     
    #feedback{
        width: 100%;
        margin-top: 15%;
    }
    hr {
        width: 100%;
        border: 1px solid #ccc;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    #feedback{
        width: 100%;
        margin-top: 13%;
    }
    hr {
        width: 100%;
        border: 1px solid #ccc;        
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #feedback{
        width: 100%;
        margin-top: 11%;
    }
    hr {
        width: 100%;
        border: 1px solid #ccc;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    #feedback{
        width: 100%;
        margin-top: 9%;
    }
    hr {
        width: 100%;
        border: 1px solid #ccc;
    }
  }